templates/agente-ambarcrm.template.json
{
  "name": "[TEMPLATE] Agente AmbarCRM",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agente-ambarcrm",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Entrada AmbarCRM",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-640, 300],
      "webhookId": "agente-ambarcrm"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "version": 2 },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-incoming",
              "leftValue": "={{ $json.body.message_type }}",
              "rightValue": "incoming",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        },
        "options": {}
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Solo entrantes",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-440, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "texto", "value": "={{ $json.body.content }}", "type": "string" },
            { "id": "a2", "name": "conversacionId", "value": "={{ $json.body.ambarcrm.conversacionId }}", "type": "string" },
            { "id": "a3", "name": "telefono", "value": "={{ $json.body.ambarcrm.telefono }}", "type": "string" },
            { "id": "a4", "name": "nombre", "value": "={{ $json.body.sender?.name || $json.body.ambarcrm.nombre }}", "type": "string" },
            { "id": "a5", "name": "responder_url", "value": "={{ $json.body.ambarcrm.responder_url }}", "type": "string" },
            { "id": "a6", "name": "handoff_url", "value": "={{ $json.body.ambarcrm.handoff_url }}", "type": "string" },
            { "id": "a7", "name": "funnel_url", "value": "={{ $json.body.ambarcrm.funnel_url }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-220, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "c1", "name": "apiToken", "value": "PEGA_AQUI_EL_TOKEN_DEL_BOT", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "⚙️ Configuración",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [0, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Datos').item.json.texto }}",
        "options": {
          "systemMessage": "Eres el asistente de atención por WhatsApp de [NEGOCIO]. Hablas en español, breve y cordial.\n\n[PERSONALIZAR: rol, servicios, precios, reglas].\n\nReglas:\n- Si el cliente pide hablar con una persona, usa la herramienta escalar_a_humano y avísale que en breve lo atienden.\n- Conforme avance la conversación, usa actualizar_funnel para mover el lead de etapa (Contactado, En negociación, etc.).\n- No inventes información. Si no sabes algo, escala a humano."
        }
      },
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [240, 300]
    },
    {
      "parameters": { "model": "gpt-4o-mini", "options": {} },
      "id": "66666666-6666-6666-6666-666666666666",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [120, 520]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Datos').item.json.telefono }}",
        "contextWindowLength": 12
      },
      "id": "77777777-7777-7777-7777-777777777777",
      "name": "Memoria",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [260, 520]
    },
    {
      "parameters": {
        "toolDescription": "Escala la conversación a un humano (cuando el cliente lo pide o el bot no puede resolver). Apaga el bot en este chat.",
        "method": "POST",
        "url": "={{ $('Datos').item.json.handoff_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [ { "name": "api_access_token", "value": "={{ $('⚙️ Configuración').item.json.apiToken }}" } ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"labels\": [\"escalado_humano\"]\n}"
      },
      "id": "88888888-8888-8888-8888-888888888888",
      "name": "escalar_a_humano",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [420, 520]
    },
    {
      "parameters": {
        "toolDescription": "Mueve el lead a una etapa del embudo. Etapas válidas (usa el nombre EXACTO): Nuevo lead, Contactado, En negociación, Propuesta, Ganado, Perdido.",
        "method": "POST",
        "url": "={{ $('Datos').item.json.funnel_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [ { "name": "api_access_token", "value": "={{ $('⚙️ Configuración').item.json.apiToken }}" } ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"etapa\": \"{etapa}\"\n}",
        "placeholderDefinitions": {
          "values": [ { "name": "etapa", "description": "Nombre exacto de la etapa destino", "type": "string" } ]
        }
      },
      "id": "99999999-9999-9999-9999-999999999999",
      "name": "actualizar_funnel",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [580, 520]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Datos').item.json.responder_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [ { "name": "api_access_token", "value": "={{ $('⚙️ Configuración').item.json.apiToken }}" } ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $json.output, message_type: 'outgoing' }) }}",
        "options": {}
      },
      "id": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
      "name": "Respuesta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 300]
    }
  ],
  "connections": {
    "Entrada AmbarCRM": { "main": [[{ "node": "Solo entrantes", "type": "main", "index": 0 }]] },
    "Solo entrantes": { "main": [[{ "node": "Datos", "type": "main", "index": 0 }]] },
    "Datos": { "main": [[{ "node": "⚙️ Configuración", "type": "main", "index": 0 }]] },
    "⚙️ Configuración": { "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]] },
    "AI Agent": { "main": [[{ "node": "Respuesta", "type": "main", "index": 0 }]] },
    "OpenAI Chat Model": { "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]] },
    "Memoria": { "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]] },
    "escalar_a_humano": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "actualizar_funnel": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
